/*  Course Information */
/* .courseInformation {
  display: none;
} */

.courseInformation {
  background-color: black;
  color: white;
  display: none;
  /* grid-template: 7vw 2vw/ 12vw; */
  width: 14vw;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  gap: 30px;
  position: absolute;
  top: -25%;
  left: 90%;
  text-align: justify;
  padding: 20px;
  z-index: 8;
  border-radius: 3px;
  box-shadow: 2px 2px 7px rgb(0, 0, 0), -2px -2px 7px rgb(0, 0, 0);
}

.lastCourse > .courseInformation {
  width: 30vw;
  top: -25%;
}

.courseInformation > p {
  font-size: 1vw;
}

.courseInformation > a {
  color: rgb(0, 174, 255);
}

div.course:hover .courseInformation {
  display: grid;
}
