ul.buttons {
  list-style: none;
}

ul.buttons li {
  position: relative;
}

ul.buttons li:hover ul.dropdown {
  display: block;
}

/* .courseContainer:hover .dropdown {
  display: block;
} */

ul.buttons li.courseContainer,
ul.buttons li.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul.dropdown {
  list-style: none;
  position: absolute;
  width: 150%;
  text-align: center;
  top: 100%;
  /* left: 110%; */
  z-index: 8;
  display: none;
}

ul.dropdown li {
  background-color: rgb(0, 0, 0);
  padding: 5px;
  border: 2px solid rgb(255, 255, 255);
  text-align: center;
  border-radius: 5px;
  margin: 7px auto;
  box-shadow: 2px 2px 7px 4px black;
}

ul.dropdown li:hover {
  background-color: rgb(255, 255, 255);
  font-weight: 550;
  border-color: #000;
  color: rgb(0, 0, 0) !important;
  transform: translateY(-2px) scale(1.1);
  transition: transform 0.5s ease-in-out, background-color 0.2s ease-in-out;
}

ul.dropdown li:hover a {
  color: rgb(0, 0, 0) !important;
}
