html {
  margin: 0;
}

.banner {
  background-image: url(../imgs/Earth-Banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

@media only screen and (max-width: 480px) {
  html {
    margin: 0;
    background-image: url(../imgs/EcoTechUnity-BG.jpg);
    max-width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .banner {
    background-image: none;
  }
}
