* {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  color: black;
}

.banner {
  /* background-image: url(../imgs/Earth-Banner.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.logo h1 {
  font-family: "Righteous", sans-serif;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  header {
  }

  .navbar .logo {
    width: 100vw;
    text-align: center;
    padding-top: clamp(10px, 3vw, 20px);
    padding-bottom: clamp(10px, 3vw, 20px);
    background-color: none;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .navcontainer {
    display: none;
  }

  .banner {
    background-image: url(../imgs/EcoTech-MobileBG.jpg);
  }
}
