.playlistContainer {
    width: 40%;
    height: 58vh;
    border-radius: 10px;
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); */
    background-color: rgba(63, 74, 80, 0.32);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.10);
    /* box-shadow: -10px 0 15px rgba(0, 0, 0, 0.3); */
    padding: 20px 0 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    overflow: hidden;
}

.playlistContainer > h2 {
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.10);
}

.tabs {
    margin: 0 auto;
    width: 100%;
    /* overflow: scroll; */
}

.navButton {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.button {
    border: 1px solid white;
    background-color: aliceblue;
    color: black;
    padding: 3px 7px;
    font-size:large;
    cursor: pointer;
}